.tabContainer {

    .newPostBtn {
        margin: 0.5rem 0rem;
    }

    .messageContainer {

        .ui-accordion__title {
            margin-top: 1.6rem;
        }
    }

    .ms-DetailsRow {
        height: 4.4rem;
    }

    .ms-CommandBar {
        background-color: transparent;
        height: 2rem;
    }

    .results {
        font-weight: bold;
        margin: 1rem 1rem 1rem 2rem;
    }
}

div[class="cc-header"] {
    width: 100%;
    height: auto;
    max-height: 100vh;
    background: #464775 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 12px 25px;

    img[class="ms-logo"] {
        width: 32px;
        height: 32px;
    }

    span[class="header-text"] {
        text-align: left;
        font: normal normal bold 24px/32px Segoe UI;
        letter-spacing: 0px;
        color: #FFFFFF;
    }

    img[class="header-icon"],
    img[class="support-icon"],
    img[class="feedback-icon"] {
        width: 18px;
        height: 18px;
        cursor: pointer;
    }

    img[class="support-icon"],
    img[class="feedback-icon"] {
        position: relative;
        bottom: -2px;
    }

}

div[role="tooltip"]>div {
    background-color: white;
    color: black;
}

@media only screen and (min-width : 1000px) {
    .taskModule {
        .formContainer {

            .adaptiveCardContainer {
                .ac-container {
                    margin-left: 0rem !important;
                }
            }
        }
    }
}

@media only screen and (min-width : 826px) and (max-width : 999px) {
    .taskModule {
        .formContainer {
            .scrollableContent {
                flex-direction: column;

                .formContentContainer {
                    margin-inline-end: 0rem !important;
                }
            }

            .adaptiveCardContainer {
                width: 100% !important;
                display: block !important;
                margin: 0rem auto !important;

                .ac-container {
                    margin: 0rem auto !important;
                }
            }
        }
    }
}

@media screen and (min-width : 0px) and (max-width: 825px) {
    .taskModule {
        .formContainer {
            .scrollableContent {
                flex-direction: column;

                .formContentContainer {
                    margin-inline-end: 0rem !important;
                }
            }

            .adaptiveCardContainer {
                width: 100% !important;
                display: block !important;
                margin: 0rem auto !important;

                .ac-container {
                    margin: 0rem auto !important;
                }
            }
        }
    }
}