.ms-DetailsRow {
  height: 4.4rem;
}

.ms-CommandBar {
  background: transparent;
}

.content {
  font-size: 1.4rem;
  color: #333333;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;

  .contentTitle {
    text-decoration: none;
    background-color: transparent;
    border: none;

    &:hover {
      color: #6264A7;
      cursor: pointer;
      border-bottom: 0.1rem solid #6264A7;
      text-decoration: none;
    }
  }
}

.sortIcon {
  margin: 1.2rem 0.3rem;
}

.ms-Dialog-main {
  max-width: 600px !important;
  min-width: 600px !important;

  .footerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2rem 0rem 3.2rem 0rem;
    width: 100%;

    .hiddenLoader {
      display: none;
    }

    .sendingLoader {
      float: left;
      width: 12rem;
      margin-right: 2rem;
      height: 3rem;
    }

    .buttonContainer {
      display: inline;
      float: right;
      margin-right: 3.2rem;

      #saveBtn {
        margin-left: 0.8rem;
      }
    }
  }
}