/**
* Gobal Styles for APP
*/
.appContainer {
    background-color: #f3f2f1;
    width: 100%;

    .primaryBtn {
        min-width: 6rem;
        height: 2rem;
        margin-left: 0.5rem;
        background-color: #6264A7;
        color: rgb(255, 2555, 255);
        border: none;
        font-size: 0.875rem;
        box-shadow: 0 0 0.125rem 0;
        border-radius: 0.1875rem;
        padding: 0 1.25rem;
        vertical-align: middle;

        &:hover {
            background-color: #464775;
        }

        &:focus {
            outline: none;
        }

        &:disabled,
        &[disabled] {
            background-color: #d3d3d3;
            color: #a7a7a7;
        }

    }

    .secondaryBtn {
        min-width: 6rem;
        height: 2rem;
        margin-left: 0.5rem;
        background-color: #FFFFFF;
        font-size: 0.875rem;
        border: 0.125rem solid #E1DFDD;
        border-radius: 0.1875rem;
        padding: 0px 1.25rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0 0.125rem 0.25rem 0;
        vertical-align: middle;

        &:hover {
            background-color: #EDEBE9;
            border: 0.125rem solid #C8C6C4;
        }

        &:focus {
            outline: none;
        }
    }

    .radioBtns {

        p {
            margin: 0.3125rem 0;
        }

        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -624.9375rem;
        }

        [type="radio"]:checked+label,
        [type="radio"]:not(:checked)+label {
            position: relative;
            padding-left: 1.5625rem;
            cursor: pointer;
            line-height: 1.25rem;
            display: inline-block;
            color: #484644;
            font-size: 0.75rem;
        }

        [type="radio"]:checked+label:before,
        [type="radio"]:not(:checked)+label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0.25rem;
            width: 0.75rem;
            height: 0.75rem;
            border: 0.0625rem solid #484644;
            border-radius: 100%;
            background: #fff;
        }

        [type="radio"]:checked+label:after,
        [type="radio"]:not(:checked)+label:after {
            content: '';
            width: 0.75rem;
            height: 0.75rem;
            background: #6264a7;
            position: absolute;
            top: 0.3125rem;
            left: 0.0625rem;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        [type="radio"]:not(:checked)+label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        [type="radio"]:checked+label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}