.taskModule {
    .formContainer {
        overflow-y: auto;
        position: absolute;
        top: 0rem;
        bottom: 8.4rem;
        width: 100%;

        h3 {
            font-size: 1.6rem;
            margin: 2rem 3.2rem 0rem 3.2rem;
        }

        h4 {
            margin: 0.6rem 3.2rem 1rem 3.2rem;
            font-size: 1.4rem;
            font-weight: 100;
        }

        .formContentContainer {

            .inputField {
                margin: 0rem 3.2rem;

                span {
                    font-size: 1.2rem;
                    display: block;
                    margin: 0.8rem 0rem 0.4rem 0rem;
                }

                input {
                    height: 3.2rem;
                    padding: 0.6rem 1.2rem;
                    font-size: 1.4rem;
                    margin: auto 0;
                }

                i {
                    bottom: 0.5rem;
                }
            }


            .textArea {
                margin: 0rem 3.2rem;

                span {
                    font-size: 1.2rem;
                    display: block;
                    margin: 0.8rem 0rem 0.4rem 0rem;

                    &:nth-child(2) {
                        color: #C4314B;
                    }
                }

                textarea {
                    height: 9.6rem;
                    padding: 0.6rem 1.2rem;
                    font-size: 1.4rem;
                    margin: auto 0;
                }

                i {
                    bottom: 2.5rem;
                }
            }
        }

        .boardSelection {
            padding-left: 2.5rem;
            display: inline;
            width: 40%;
            float: left;

            .dropDown {
                display: block;

                button {
                    height: 2.6rem;
                    font-size: 1.4rem;
                    margin-right: 0rem;
                    margin: 0.5rem 0rem;
                }
            }
        }

        .radioBtns {
            margin: 0rem 3.2rem;
            display: inline;
            float: left;
            width: 70%;

            p {
                margin: 1.5rem 0rem;
            }

            .dropdown {
                margin: 1rem 1rem 1rem 2rem;
                width: 30rem;
            }

            .noteText {
                margin: 1rem 0rem 1rem 2.5rem;
            }

            .hide {
                display: none;
            }

            .hideToggle {

                .ui-dropdown__toggle-indicator {
                    visibility: hidden;
                }
            }
        }
    }

    .footerContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 2rem 0rem 3.2rem 0rem;
        width: 100%;

        .buttonContainer {
            display: inline;
            float: right;
            margin-right: 3.2rem;

            #saveBtn {
                margin-left: 0.8rem;
            }
        }
    }
}

.ms-Dropdown-container {
    margin: 0rem 0rem 1rem 0rem;

    .ms-Callout-main {
        max-height: 30rem !important;
    }
}

.is-checked {
    .ms-Checkbox-label {
        .ms-Checkbox-checkbox {
            background: #464775 !important;
            border: #464775 !important;
        }
    }
}