.taskModule {
    width: 50rem;

    .formContainer {
        overflow-y: auto;
        position: absolute;
        top: 0;
        bottom: 5.25rem;
        width: 100%;

        .formContentContainer {
            width: 55%;
            float: left;
            display: inline;

            .inputField {
                margin: 0 2rem;

                span {
                    font-size: 0.75rem;
                    color: #484644;
                    display: block;
                    margin: 0.625rem 0 0 0;

                    &:nth-child(2) {
                        color: #C4314B;
                    }
                }

                input {
                    height: 2rem;
                    padding: 0.375rem 0.75rem;
                    font-size: 0.875rem;
                    margin: auto 0;

                    &:focus {
                        border-bottom: 0.1rem solid #464775;
                    }
                }

                i {
                    bottom: 0.5rem;
                }
            }


            .textArea {
                margin: 0 2rem;

                span {
                    font-size: 0.75rem;
                    color: #484644;
                    display: block;
                    margin: 0.625rem 0 0 0;

                    &:nth-child(2) {
                        color: #C4314B;
                    }
                }

                textarea {
                    height: 6rem;
                    padding: 0.375rem 0.75rem;
                    font-size: 0.875rem;
                    margin: auto 0;

                    &:focus {
                        border-bottom: 0.1rem solid #464775;
                    }
                }

                i {
                    bottom: 2.5rem;
                }
            }
        }

        .adaptiveCardContainer {
            width: 45%;
            display: inline;
            float: left;
        }
    }

    .footerContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 1.25rem 0 2rem 0;
        width: 100%;

        .buttonContainer {
            display: inline;
            float: right;
            margin-right: 2rem;
        }

    }
}