.content {
  font-size: 0.875rem;
  color: #333333;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.sortIcon {
  margin: 0.75rem 0.1875rem;
}