.taskModule {
    width: 80rem;

    .formContainer {
        overflow-y: auto;
        position: absolute;
        top: 0rem;
        bottom: 8.4rem;
        width: 100%;

        .formContentContainer {
            .contentField {
                margin: 0rem 3.2rem;

                h3 {
                    margin: 2rem 0rem 0rem 0rem;
                }
            }

            .results {
                margin: 0 2rem;
                overflow-y: auto;
                position: absolute;

                .label {
                    font-weight: bold;
                }

                ul {
                    li {
                        img {
                            width: 2.5rem;
                            height: 2.5rem;
                        }
                    }
                }
            }
        }
    }

    .footerContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 2rem 0rem 3.2rem 0rem;
        width: 100%;

        .hiddenLoader {
            display: none;
        }

        .sendingLoader {
            float: left;
            width: 18rem;
            margin-right: 2rem;
            height: 3rem;
        }

        .buttonContainer {
            display: inline;
            float: right;
            margin-right: 3.2rem;

            #sendBtn {
                margin-left: 0.8rem;
            }
        }
    }
}